html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.contenedor {
 
  height: 100%;
  display: grid;
  gap: 8px;
  
  justify-content: center;
  align-items: center;
  padding: 16px;
  grid-template-columns: minmax(0,300px) minmax(0,300px) minmax(0,300px);
}

.imagen{
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

@media (min-width: 840px) {
  .imagen {
    max-width: 300px;
   aspect-ratio: 1 / 1;
  }
}


@media ((min-width: 600px) and  (max-width:840px)) {
 
  .imagen {
    width: calc(100%);
    height: calc(100%);
  }
   .contenedor {
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: calc(50% - 32px) calc(50% - 32px);
  }
}



@media (max-width: 600px) {
  .contenedor {
    width: calc(100% - 32px);
    grid-template-columns: calc(100% - 32px);
  }
  .imagen {
    width: calc(100%);
   height: calc(100%);
  }
}
